*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:'Cairo','Exo 2','Poppins',sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;600&family=Exo+2:ital,wght@0,100;0,700;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,500;0,700;1,800&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px ;
}
body{
    width: 100%;
    color: white;

}
:root{
    --rojo:red;
    --negro:black;
    --gris:grey;
    --naranja:orange;
    --verde:green;
    --blanco:white;
}
.section-container{
    background-color: var(--negro)  ;
    border-bottom: 0.1px solid rgba(255, 0, 0, 0.358);
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0px;
    width: 95%;
    max-width: 1300px;
}
button{
    background-color: var(--rojo);
    border: 0px solid black;
    outline: none;
    width: 180px;
    height: 40px;
    color: var(--blanco);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s linear;
}
button:hover{
    background-color:var(--blanco);
    color: var(--negro);
    transition: all 0.4s linear;
}
.section-title{
    font-weight: 700;
    font-size: 32px;
}
.section-p{
    font-weight: 300;
    font-size: 12px;
}
.section-p-small{
    font-weight: 300;
    font-size: 10px;
}
/* header */
.header-container{
    position: sticky;
    top: 0%;
    z-index: 9999;
}
header{
    margin: 0 auto;
    max-width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 50px;
}
.logo-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.logo-container img{
    height: 75%;
}
.navbar, .navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-list{
    gap:50px;
}
.navbar i{
    font-size: 40px;
    color: var(--blanco);
    cursor: pointer;
    display: none;
}
#toggle-menu{
display: none;
}
.navbar a{
    color: var(--blanco);
    font-size: 22px;
}.navbar-list li:last-child> a{
    border: 1px solid var(--rojo);
    font-size: 20px;
    padding: 8px 40px;
    border-radius: 5px;
    transition: all 0.3s linear;
}
.navbar-list li:last-child> a:hover{
    background-color: var(--blanco);
    color: var(--negro);
    border: none;
    transition: all 0.3s linear;
    font-weight: 700;
}
@media(max-width:992px){
.header{
    padding: 0px 50px 0px 10px;
}
.navbar i{
    display: block;
}.navbar-list{
    position: absolute;
    background-color: var(--negro);
    flex-direction: column;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    display: none;
    z-index: 9999;
}
#toggle-menu:checked + .navbar-list {
    display: flex;
}
}
/* navbar listo */
/* hero */
#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px 50px;
}
.description-container{
    display: flex;
    flex-direction: column;
    /* flex: 1 1 50%; */
    gap: 40px;
}
.text-container{
    max-width: max(40%, 400px);
    /* background-color: blue; */
}
.text-container h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}
.text-container p{
    font-size: 15px;
    font-weight: 300;
}
.hero-img{
    background-image: url(./img/stock-photo-a-man-cleaning-car-with-cloth-car-detailing-or-valeting-concept-selective-focus-1681005784.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    width: 40%;
    height: 350px;
    border-radius: 10px;
}
@media(max-width: 768px ){
    .hero-img{
        display: none;
    }
    .description-container{
        justify-content: center;
        align-items: center;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
/* SECTION NOSOTROS */
#about-us{
    gap:15%;
    flex-wrap: wrap;

}
.about-img{
    background-image: url(./img/20220401_201743.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 350px;
    border-radius: 5px;
}
.about-content{
    height: 300px;
    display: flex;
    /* width: 350px; */
    flex-direction: column;
    gap: 10px;
}

.about-cards-container{ 
display: flex;
gap: 20px;
}
.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gris);
    height: 60px;
    width: 50px;
    border-radius: 5px;
}
.about-ul{
display: flex;
flex-direction: column;
gap: 5px;
width: 95%;
}
.about-card:hover{
    transform: scale(105%);
    transition: all 0.3s linear;
    background: var(--rojo);
}
.about-card img{
    display: flex;
    margin: 0 auto;
    width: 90%;

}

@media(max-width:768px){
#about-us{
    flex-direction: column;
    gap: 20px;
}

.section{
    justify-content: center;
    align-items: center;
}
}
@media(max-width:360px){
    .about-img{
        width: 330px;
    }
}
@media(max-height:667px){
    .about-img{
        width: 90%;
    }
    .about-content{
        width: 90%;
    }
}
/* SECTION MARCAS */

#modalidad-t{
    flex-direction: column;
    gap: max(80px, 10%);
}
.title-container{
    display: flex;
    justify-content: space-around;
    gap: 25%;
    width:100% ;
    padding-bottom: 20px;
    
}

.logo-marcas{
    max-width: 1300px;
    /* box-shadow: 0px 0px 4px 3px #ffffff; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* background: gray; */
}
.marcas-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    gap: 20px;

}
.logo1{
    width: 100px;
    height: 100px;
    margin-right: 5vw;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px #ffffff;
}
.logo1:hover{
transform: scale(105%);
    transition-duration: 0.3s;
    box-shadow: 0px 0px 5px 4px #ffffff;
}
.btn-responsive{
    display: none;
}




@media(max-width:768px){
    .title-container button{
        display: none;
    }
    .btn-responsive{
        display: block;
    }
}
/* SECTION SERVICIOS */
#servicios {
    flex-direction: column;
    gap: 40px;
}
#servicios h2{
    margin-bottom: 50px;
}
.mod-cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 75%; */
    gap: 100px;
    width: 100%;
}
.mod-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--blanco);
    text-align: center;
    width: 45%;
    height: 200px;
    color: black;
    position: relative;
    /* padding-top: 25px; */
    border-radius: 10px;
}
.mod-card:hover{
    transform: scale(105%);
    transition: all 0.3s linear;
}
.mod-card-img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: var(--rojo);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 300;
    color: var(--blanco);
    position: absolute;
    top: -50px;
    text-transform: uppercase;
}
.mod-card-img img{
    width: 65%;
}
.mod-card h3{
    font-size:15px ;
  padding: 10px;
    text-transform: uppercase;
}
.mod-card p{
    font-size: 12px;
    padding: 5px;
}

.division {
    width: min(600px, 90%);
    margin-top: 80px;
    height: 3px;
    background-color: var(--rojo);

}
@media(max-height:667px){
    .mod-card{
        width: 80%;
    }
}
/* FOOTER */
.footer{
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 70px;
    padding: 30px;
    align-items: center;
    text-align: center;
    
}
.footer-title{
    width: 300px;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    gap: 5px;
    background: rgb(12, 12, 12);
    border-radius: 10px;
    padding: 5px;
}
form h4{
    font-size: 16px;
    text-align: center;
    font-weight: 300;
}
form input{
    text-align: center;
    padding: 3px;
    border-radius: 2px;
cursor: pointer;
}

.img-footer img{
    width:25px;
    gap: 10px;
}
.footer-terms{
    /* border: 1px solid red; */
    color: white;
    gap: 10px;
    display: flex;
    flex-direction: column;
} 
.footer-terms a{
    color: rgb(128, 128, 128);
}
.footer-copyright{
    width: 300px;
    height: 20px;
    /* border: 1px solid red; */
}
@media(max-height:667px){
    .footer{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .form-footer{ 
        width: 100%;
    }
}