*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:'Cairo','Exo 2','Poppins',sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;600&family=Exo+2:ital,wght@0,100;0,700;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,500;0,700;1,800&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px ;
}
body{
    width: 100%;
    color: white;

}
:root{
    --rojo:red;
    --negro:black;
    --gris:grey;
    --naranja:orange;
    --verde:green;
    --blanco:white;
}
.section-container{
    background-color: var(--negro)  ;
    border-bottom: 0.1px solid rgba(255, 0, 0, 0.358);
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0px;
    width: 95%;
    max-width: 1300px;
}
button{
    background-color: var(--rojo);
    border: 0px solid black;
    outline: none;
    width: 180px;
    height: 40px;
    color: var(--blanco);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s linear;
}
button:hover{
    background-color:var(--blanco);
    color: var(--negro);
    transition: all 0.4s linear;
}
.section-title{
    font-weight: 700;
    font-size: 32px;
}
.section-p{
    font-weight: 300;
    font-size: 12px;
}
.section-p-small{
    font-weight: 300;
    font-size: 10px;
}
/* header */
.header-container{
    position: sticky;
    top: 0%;
    z-index: 9999;
}
header{
    margin: 0 auto;
    max-width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 50px;
}
.logo-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.logo-container img{
    height: 75%;
}
.navbar, .navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-list{
    gap:50px;
}
.navbar i{
    font-size: 40px;
    color: var(--blanco);
    cursor: pointer;
    display: none;
}
#toggle-menu{
display: none;
}
.navbar a{
    color: var(--blanco);
    font-size: 22px;
}.navbar-list li:last-child> a{
    border: 1px solid var(--rojo);
    font-size: 20px;
    padding: 8px 40px;
    border-radius: 5px;
    transition: all 0.3s linear;
}
.navbar-list li:last-child> a:hover{
    background-color: var(--blanco);
    color: var(--negro);
    border: none;
    transition: all 0.3s linear;
    font-weight: 700;
}
@media(max-width:992px){
.header{
    padding: 0px 50px 0px 10px;
}
.navbar i{
    display: block;
}.navbar-list{
    position: absolute;
    background-color: var(--negro);
    flex-direction: column;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    display: none;
    z-index: 9999;
}
#toggle-menu:checked + .navbar-list {
    display: flex;
}
}
/* navbar listo */
/* hero */

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px 50px;
}
.description-container{
    display: flex;
    flex-direction: column;
    /* flex: 1 1 50%; */
    gap: 40px;
}
.text-container{
    max-width: max(40%, 400px);
    /* background-color: blue; */
}
.text-container h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}
.text-container p{
    font-size: 15px;
    font-weight: 300;
}
.hero-img{
    background-image: url(./img/stock-photo-a-man-cleaning-car-with-cloth-car-detailing-or-valeting-concept-selective-focus-1681005784.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    width: 40%;
    height: 350px;
    border-radius: 10px;
}
@media(max-width: 768px ){
    .hero-img{
        display: none;
    }
    .description-container{
        justify-content: center;
        align-items: center;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
#about-us{
    gap:15%;
    flex-wrap: wrap;

}
.about-img{
    background-image: url(./img/20220401_201743.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 350px;
    border-radius: 5px;
}
.about-content{
    height: 300px;
    display: flex;
    width: 350px;
    flex-direction: column;
    gap: 20px;
}
.direccion{
    font-weight: 700;
}
.about-cards-container{ 
display: flex;
gap: 30px;
}
.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gris);
    height: 60px;
    width: 100px;
    border-radius: 5px;
}
.about-card:hover{
    transform: scale(105%);
    transition: all 0.3s linear;
    background: var(--rojo);
}
.about-card span{
    font-weight: 700px;
    font-size: 20px;
}
@media(max-width:768px){
#about-us{
    flex-direction: column;
    gap: 20px;
}
}
#modalidad-t{
    flex-direction: column;
    gap: max(120px, 10%);
}
.title-container{
    display: flex;
    justify-content: space-around;
    gap: 25%;
    width:100% ;
    padding-bottom: 20px;
    
}
.mod-cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    gap: 90px;
}
.mod-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--gris);
    text-align: center;
    width: 250px;
    height: 150px;
    position: relative;
    padding-top: 25px;
    border-radius: 10px;
}
.mod-card:hover{
    transform: scale(105%);
    transition: all 0.3s linear;
}
.mod-card-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--rojo);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 300;
    color: var(--blanco);
    position: absolute;
    top: -60px;
    text-transform: uppercase;
}
.mod-card h3{
    font-size:15px ;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.mod-card p{
    font-size: 12px;
    padding: 0 5px;
}
.btn-responsive{
    display: none;
}
@media(max-width:992px){
    .mod-cards-container{
        width: 100%;
    }
}
@media(max-width:768px){
    .title-container button{
        display: none;
    }
    .btn-responsive{
        display: block;
    }
}
#servicios {
    flex-direction: column;
    width: min(600px, 90%);
    gap: 40px;
}
.servicios-title-container{
    text-align: center;
    width: 85%;
}
.section-title{
    padding-bottom: 10px;
}
.servicios-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.servicio-card{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0px 50px;
    width: min(70vw, 600px);
    height: 100px;
    background:var(--gris);
}
.servicios-info{
    display: flex;
    flex-direction: column;
}
.servicios-dates, .servicios-time{
    font-weight: 700;
    text-align: center;
}
/* .servicios-dates{
    font-size: 20px;
} */
.division {
    width: min(600px, 90%);
    margin-top: 80px;
    height: 3px;
    background-color: var(--rojo);

}